<HTML>
<BODY BGCOLOR="FFFCCC">
<form action = "http://localhost:3000/nih", method = "GET">

<CENTER><h1><I><FONT COLOR="MAROON"> Tax Calculation Apps.</FONT></I></h1></CENTER>
<CENTER><h3><I><FONT COLOR="BLACK"> PPh Pasal 22 untuk Impor Gandum, Kedelai, dan Tepung </FONT></I></h3></CENTER>
<BR>

  Masukkan Nilai CIF : 
   <INPUt type="text" id="nFirstEntry" name="nFirstEntry"> <BR>
   <BR>
  Nilai    Tarif Pajak : 
   <INPUt type="text" id="nSecondEntry" name="nSecondEntry"> <BR>
   <BR> 
  Jumlah   Jumlah Pajak Terutang : 
   <INPUt type="text" id="operation" name="operation" > <BR>
   <BR>
  <input type="submit" id="hasil" value="Hitung Pajak" onclick=" multCall()"><BR>

</form>
</BODY>
</HTML>


