html
   head
    <h2>Aplikasi PPh Pasal 22 atas Impor Gandum, Kedelai, Dan Tepung<h2/>
      title Aplikasi PPh Pasal 22 atas Impor Gandum, Kedelai, Dan Tepung
   body
      form(action = "/nih", method = "POST")
         div
            label(for = "Nama Perusahaan : ") Nama Perusahaan :
            input(name = "Nama Perusahaan" value = "")
         br
         div
            label(for = "Nilai Cost :")             Nilai Cost :
            input(name = "Nilai Cost" value = "")
         br
         div
            label(for = "Nilai Insurance :")    Nilai Insurance :
            input(name = "Nilai Insurance" value = "")
         br
         div
            label(for = "Nilai Freight :")      Nilai Freight :
            input(name = "Nilai Freight" value = "")
         br
         div
            label(for = "Tarif PPN :")          Tarif PPN :
            input(name = "Tarif PPN" value = "")
         br
         div
         button(type = "submit")                     CEK PPN :
          br
         

         div
            label(for = "PPN yang harus dibayarkan :")           PPN yang harus dibayarkan :
            input(name = "Tarif PPN" value = "")
        

      